.img {
  background-image: url('../super.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
}
table {
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 768px) {
  table {
    font-size: 15px;
  }
}
